html {
    height: 100%;
}
body{
    font-family: "Open Sans", sans-serif;
    background-color:white;
    background-repeat:no-repeat;
    background-position: left;
    background-size: cover;
}

.jumbotron {
    background-image: url("/img/tart.JPG");
    margin: 0;
    padding: 30px;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}

header h1 {
    color:black;
    background-color: hsl(73, 75%, 42%);
    opacity: 80%;
    text-align: right;
    font-family:fantasy;
}

h4 {
    color: black;
    background-color: hsl(73, 75%, 42%);
    opacity: 80%;
    text-align: right;
    font-family:fantasy;
}

h2 {
    color: #f8f8f7;
    padding:0px;
    border-style: solid;
    background-color: rgb(131, 202, 51);
    text-align: center;
    font-size: 25px;
}

h3{
    color: black;
    font-size: 30px;
    background-color: hsl(73, 75%, 42%);
    text-align: center;
}

h5 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

h6{
    color:green;
}

.site-footer {
        background-repeat:no-repeat;
        background-position: left;
        background-size: cover;
        background-color: rgb(201, 243, 123);
        padding: 20px 0;
        font-weight: bold;
        border-top:green solid;
}

.row-content {
    padding: 2px;
  }

.navbar {
    background-color: #74b40c;
    border-top: green solid;
    border-bottom: green solid;
    border-width: 1px;
}

.tab-content {
    border: 1px solid rgb(31, 29, 29);
    border-top: none;
    padding: 10px;
}

a, a:hover {
    color: green;
  }

.carousel {
    border-style:inset;
    border-color: rgb(170, 240, 101);
}

p {
text-align: justify;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.card {
    width: 100%;
    padding: 0px;
    margin-bottom: 0px;
    background: #e4eed7;
    box-shadow: 5px 4px 5px #26a13b;
    box-sizing: border-box;
    height: 100% !important;
}

.breadcrumb {
    padding:5px;
    font-size: 15px;
}

.accordion-toggle {
    cursor: pointer;
  }